[submodule "vm"]
	path = vm
	url = git://github.com/mozart/mozart2-vm.git
[submodule "bootcompiler"]
	path = bootcompiler
	url = git://github.com/mozart/mozart2-bootcompiler.git
[submodule "lib/main"]
	path = lib/main
	url = git://github.com/mozart/mozart2-library.git
[submodule "lib/compiler"]
	path = lib/compiler
	url = git://github.com/mozart/mozart2-compiler.git
[submodule "opi"]
	path = opi
	url = git://github.com/mozart/mozart2-opi.git
[submodule "boosthost"]
	path = boosthost
	url = git://github.com/mozart/mozart2-boosthost.git
[submodule "wish"]
	path = wish
	url = git://github.com/mozart/mozart2-wish.git
[submodule "stdlib"]
	path = stdlib
	url = git://github.com/mozart/mozart2-stdlib.git
